body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    padding: 30px; 
    background-color: blanchedalmond;

}


header h1{
    text-align: center;
}

main{
    max-width: 700px;
    background-color: goldenrod;
    display: flexbox;
    align-items: center;


}

#blogPosts{

    max-width: 600px;
    background-color: wheat;
    

}