:root{
    --light-theme-bg: #F3E9D2;
    --light-theme-txt: #093427;
    --dark-theme-bg: #114B5F;
    --dark-theme-txt: #C6DABF;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    padding: 30px; 
    background-color: blanchedalmond;

}


header h1{
    text-align: center;
}

main{
    display: block;
    width: 100%;
    

}
/* form{
    background-color: (var(--light-theme-bg));
    color: var(--light-theme-txt);
    align-items: center;
} */